# Backend environment variables
# Use your MongoDB Atlas connection string with the database name included.
MONGO_URI=mongodb+srv://lakshyakulshrestha78_db_user:snM3OA360gePZ07z@healthcaredb.vvusiwr.mongodb.net/?appName=healthcareDB
JWT_SECRET=e8ec6ad154f3ffbd1a20a4f38451a430359d70d2c16f79369018ffb7a8410b1abdf9f44e381ccb2ba82b520b1cd6216f24be3f3c1f11b8fa757f9d2a948638dd
CLIENT_URL=https://healthcare-frontend-lqan7zupk.vercel.app
PORT=5000
